{% extends 'base.html' %}
{% block title %}S&SLecture About{% endblock %}
{% block content %}


<div  style="width: 800px; padding-top: 20px; margin: auto;">
    <br>
    <br>
    <h1>S&S Lecture</h1>
    <hr>
    <br>
    <p class="w3-xlarge">S&S Lecture หรือ Save and Share Lecture เป็นเว็บไซต์ที่ใช้สำหรับแชร์โน้ตหรือสรุปบทเรียนต่าง ๆ
        ซึ่งผู้ใช้งานสามารถเข้าไปอ่านหรือแชร์โน้ตของตัวเองในเว็บได้ รวมถึงการบันทึกโน้ตที่ชื่นชอบ
        เพื่อสามารถกลับมาอ่านโน้ตนั้นได้ตลอดเวลาโดยไม่ต้องเสียเวลาสำหรับการค้นหาครั้งใหม่</p>
    <p class="w3-xlarge">เนื่องจากสามารถแลกเปลี่ยนความรู้หลากหลายวิชาโดยไม่จำกัด
        ทำให้เว็บไซต์ของเราจึงเปรียบเสมือนสังคมแลกเปลี่ยนการเรียนรู้ขนาดย่อม ๆ ที่ไม่ว่าคุณจะอยู่ที่ไหน เวลาไหน
        ก็สามารถที่จะเปิดเข้าไปดูโน้ตได้ตลอดเวลา</p>
</div>

<div  style="width: 800px; padding-top: 20px; margin: auto;">
    <br>
    <br>
    <h1>Member</h1>
    <hr>
    <br>
    <p class="w3-xlarge">6101012610029 นายก้องภพ รักรุ่งโรจน์</p>
    <p class="w3-xlarge">6101012610070 นายบุริศร์ ฉายศิริ
    </p>
    <p class="w3-xlarge">6101012630046 นางสาวจินตปาตี สรวิเชียร
    </p>
    <p class="w3-xlarge">6101012630101 นายธีรภัทร ปรุงวัฒนากร
    </p>

</div>

{% endblock %}