{% extends 'base.html' %}

{% block title %}S&SLecture Note{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-9 text-center">

            {% for image in image_obj_list %}

            <div class="mySlides">
                <img src="{{ image.image.url }}" style="width: 420px; height: 594px; margin: 5px;"><br>
            </div>

            {%endfor %}

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>


        <div class="col-md-offset-5 col-md-3 text-left">
            <div class="description">
                <h5>Username :<span>
                        {{note_obj.author.user.username}}</span></h5>

                <h5>Title :<span>
                        {{ note_obj.title }}</span></h5>

                <h5>Description :<span>
                        {{ note_obj.description }}</span></h5>
                
                <h5>Total point :{{total_point}}</h5>
                <br>

                {% if user.is_authenticated %}
                {% if user.username != note_obj.author.user.username %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn" name="save_note" value="{{ note_obj.id }}"><i class="fa fa-heart"></i>
                                Save Note</button>
                        </form>
                        {% if ratedetail_length != 0 %}
                            {% for detail in ratedetail %}
                                {% if detail.user_rate == profile_request %}
                                    <div>
                                        {% include "commentCardTem.html" with ratedetail=ratedetail only %}
                                    </div>
                                {% else %} 
                                    {% if comment == False %} 
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn" name="review" value="{{ note_obj.id }}"><i class="fa fa-heart"></i>
                                                Review</button> 
                                        </form>
                                    {% else %}          
                                        <div>          
                                            <form method="post">
                                                {% csrf_token %}
                                                <div>
                                                    <input type="radio"  name="point" value="1"><label>1 point</label>
                                                    <input type="radio"  name="point" value="2"><label>2 point</label>
                                                    <input type="radio"  name="point" value="3"><label>3 point</label>
                                                    <input type="radio"  name="point" value="4"><label>4 point</label>
                                                    <input type="radio"  name="point" value="5"><label>5 point</label>
                                                    

                                                </div>
                                                <input type="text" name="text_comment" height="50" ><br><br>
                                                <button type="submit" class="btn" name="submit_review"><i class="fa fa-heart"></i>
                                                    Submit</button>


                                            </form>
                                            <div>

                                            {% include "commentCardTem.html" with ratedetail=ratedetail only %}

                                            </div>
                                        </div> 
                                    {% endif %}
                                {% endif %}
                            {% endfor%}
                        {%else%}
                            {% if comment == False %} 
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn" name="review" value="{{ note_obj.id }}"><i class="fa fa-heart"></i>
                                        Review</button> 
                                </form>
                             {% else %}          
                                <div>         
                                    <form method="post">
                                        {% csrf_token %}
                                        <div>
                                            <input type="radio"  name="point" value="1"><label>1 point</label>
                                            <input type="radio"  name="point" value="2"><label>2 point</label>
                                            <input type="radio"  name="point" value="3"><label>3 point</label>
                                            <input type="radio"  name="point" value="4"><label>4 point</label>
                                            <input type="radio"  name="point" value="5"><label>5 point</label>
                                            
                                        </div>
                                        <input type="text" name="text_comment" height="50" ><br><br>
                                        <button type="submit" class="btn" name="submit_review"><i class="fa fa-heart"></i>
                                            Submit</button>
                                    </form>
                                    <div>
                                    {% include "commentCardTem.html" with ratedetail=ratedetail only %}
                                    </div>
                                </div> 
                            {% endif %}
                        {% endif %}                
                {% else %}
                    {% if confirm == False %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="warning" style="background-color: red;" " name="delete_note" >Delete note</button>

                    </form>
                    <div>
                        {% include "commentCardTem.html" with ratedetail=ratedetail only %}
                    </div>
                    {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <p style="font-size: 20 ;" >Are you sure to delete ?</p>
                        <button type="submit" class="warning" " name="confirm_delete_note" >Yes</button>
                        <input type="submit" class="warning" " name="not_confirm_delete_note" value="No">

                    </form>
                    <div>
                        {% include "commentCardTem.html" with ratedetail=ratedetail only %}
                    </div>
                    {% endif %}
                    
                {% endif %}
                {% else %}
                <a href="{% url 'S&S:login' %}">please login to save notes</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>


<style>
    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
        padding-top: 50px;
    }

    .description {
        padding-top: 200px;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev {
        left: 20%;
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 20%;
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        margin-right: 175px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Style buttons */
    .btn {
        background-color: DodgerBlue;
        /* Blue background */
        border: none;
        /* Remove borders */
        color: white;
        /* White text */
        padding: 12px 16px;
        /* Some padding */
        font-size: 16px;
        /* Set a font size */
        cursor: pointer;
        /* Mouse pointer on hover */
    }



    .warning{
        background-color: DodgerBlue;
        /* Blue background */
        border: none;
        /* Remove borders */
        color: white;
        /* White text */
        padding: 12px 16px;
        /* Some padding */
        font-size: 16px;
        /* Set a font size */
        cursor: pointer;
        /* Mouse pointer on hover */

    }
    .warning:hover{
        background-color: red

    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

</style>


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

{% endblock %}